<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/myApp/css/style.css">
        <title>Hw_1</title>
    </head>
    <body>
        <div class = "base">
            <header class = "head">
                <div class = "head__logo">
                    <img src = "../../static/myApp/img/logo.svg" alt = "logo"/>
                    <button class = "head__logo__exit-button">Выйти из аккаунта</button>
                </div>
            </header>

            <main>
                <div class = "main-body">
                    <div class = "main-body__registration">
                        <div class = "main-body__registration__profile-create-header">
                            <button class="main-body__registration__profile-create-header__button">На главную</button> 
                            <div class = "main-body__registration__profile-create-header__title"> 
                                <h3 class="main-body__registration__profile-create-header__header">Создание профиля</h3> 
                                <div class = "main-body__registration__profile-create-header__sub-title">
                                    <p class = "main-body__registration__profile-create-header__ptext">/</p>
                                    <p class = "main-body__registration__profile-create-header__ptext">О себе</p>
                                </div>
                            </div>
                            <div class = "main-body__registration__progress-line">
                                <div class = "main-body__registration__progress-sub-line"></div>
                            </div>
                        </div>
                        <form id="userProfileForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class = "main-body__registration__form">
                                <section class = "main-body__registration__form__data-upload">
                                    <div id = "main-body__registration__form__data-upload__photo-block">
                                        <div class = "main-body__registration__form__data-upload__upload-photo">
                                            <label for = "photo_input" class = "main-body__registration__form__data-upload__upload-photo__label">
                                                <p class = "main-body__registration__form__data-upload__upload-photo__ptext">Аватар профиля</p>
                                                <label for="file_upload" class="main-body__registration__form__data-upload__upload-photo__button">
                                                    Загрузить
                                                </label>
                                                <input id="file_upload" type="file" class = "main-body__registration__form__data-upload__upload-photo__input" name="photo"/>
                                                <p class = "main-body__registration__form__data-upload__upload-photo__ptext-after-input">Загрузите фотографию весом не более 10 мб</p>
                                            </label>
                                        </div>    
                                    </div>        
                                    <div class = "main-body__registration__form__text-input">
                                        <label for="name" class="main-body__registration__form__text-input__label">Имя и фамилия</label>
                                        <input name="name" id="name" class="main-body__registration__form__text-input__input" type="text">
                                        <div class = "main-body__registration__form__text-input__radio-block">
                                            <div class="main-body__registration__form__text-input__radio-block__radio-input">
                                                <input id="MAN" class="main-body__registration__form__text-input__radio-block__radio-input__input" type="radio" name="gender" value="Парень">
                                                <label for="MAN" class= "main-body__registration__form__text-input__radio-block__radio-input__label">Парень</label>
                                            </div>
                                            <div class="main-body__registration__form__text-input__radio-block__radio-input">
                                                <input id="WOMAN" class="main-body__registration__form__text-input__radio-block__radio-input__input" type="radio" name="gender" value="Девушка">
                                                <label for="WOMAN" class = "main-body__registration__form__text-input__radio-block__radio-input__label">Девушка</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "main-body__registration__form__text-input">
                                        <label for="year_of_birth" class="main-body__registration__form__text-input__label">Дата рождения</label>
                                        <input name="year_of_birth" id="year_of_birth" class="main-body__registration__form__text-input__date" type="date">
                                    </div>
                                    <div class = "main-body__registration__form__text-input">
                                        <label for="tg" class="main-body__registration__form__text-input__label" >Телеграм</label>
                                        <input name="tg" id="tg" class="main-body__registration__form__text-input__input" autocomplete="off" type="text" value="">
                                    </div>
                                    <div class = "main-body__registration__form__text-input">
                                        <label for="phone" class="main-body__registration__form__text-input__label" >Номер телефона</label>
                                        <input name="phone" id="phone" class="main-body__registration__form__text-input__input" autocomplete="off" type="tel" value="">
                                    </div>
                                    <div class = "main-body__registration__form__text-input">
                                        <label for="about_ur_self" class="main-body__registration__form__text-input__label">О себе</label>
                                        <textarea name="about_ur_self" id="about_ur_self" class="main-body__registration__form__text-input__textarea" type="text"> </textarea>
                                        <p class = "sub_title_header_3_style" style = "font-size: small;">Например: глаза уже плывут от этих скобочек и тегов</p>
                                    </div>
                                </section>
                                <div class = "main-body__registration__form__profile-create-card">
                                    <p class = "main-body__registration__form__profile-create-card__ptext">Так будет выглядеть твоя будущая страница</p>
                                    <section class = "main-body__registration__form__profile-create-card__data">
                                        <div class = "main-body__registration__form__profile-create-card__data__card-photo-side">
                                            <div class = "main-body__registration__form__profile-create-card__data__card-photo-side__card-photo"></div>
                                            <button class = "main-body__registration__form__profile-create-card__data__card-photo-side__card-photo-button">Показать контакты</button>
                                        </div>
                                        <div class = "main-body__registration__form__profile-create-card__data__card-text-side">
                                            <div class = "main-body__registration__form__profile-create-card__data__card-text-side__div-name"></div>
                                            <div class ="main-body__registration__form__profile-create-card__data__card-text-side__card-info">
                                                <div class = "main-body__registration__form__profile-create-card__data__card-text-side__div-sex"></div>
                                                <div class ="main-body__registration__form__profile-create-card__data__card-text-side__circle"></div>
                                                <div class = "main-body__registration__form__profile-create-card__data__card-text-side__div-age"></div> 
                                            <div class="main-body__registration__form__profile-create-card__data__card-text-side__circle"></div> 
                                            <div class="main-body__registration__form__profile-create-card__data__card-text-side__eclipse"></div> 
                                        </div>
                                        <div class="main-body__registration__form__profile-create-card__data__work"></div>
                                        <div class = "main-body__registration__form__profile-create-card__data__about-ur_wrapper">
                                            <div class="main-body__registration__form__profile-create-card__data__about-ur"></div>
                                        </div>
                                        <div class="main-body__registration__form__profile-create-card__data__pereferences">
                                            <p class = "main-body__registration__form__profile-create-card__data__pereferences__ptext">Предпочтения по жилью</p>
                                            <div class="main-body__registration__form__profile-create-card__data__pereferences__price"></div>
                                            <div class = "main-body__registration__form__profile-create-card__data__pereferences__wraper-station">
                                                <div class = "main-body__registration__form__profile-create-card__data__pereferences__station"></div>
                                            </div>
                                            <div class = "main-body__registration__form__profile-create-card__data__pereferences__dividing-line"></div>
                                        </div>
                                    </div>
                                </section>
                                <div class = "main-body__registration__form__profile-create-advise">
                                    <div class = "main-body__registration__form__profile-create-advise__text">
                                        <div>
                                            <p class = "main-body__registration__form__profile-create-advise__text__ptext-head">Мы совсем ничего про тебя не знаем</p>
                                            <p class = "main-body__registration__form__profile-create-advise__text__ptext-sub">Расскажи о себе.</p>
                                            <p class = "main-body__registration__form__profile-create-advise__text__ptext-sub">Люди пишут тем, кому доверяют. Тем более при поиске соседа</p>        
                                        </div>    
                                        <div>
                                            <img src = "../../static/myApp/icons/sad_icon.svg" alt = "sad"/>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class = "main-body__next-button-wraper">
                                    <button class = "main-body__next-button" type="submit" onclick="postData(event)">Продолжить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>           
            </main>

            <footer>
                <div class = "footer__wraper">
                    <div class = "footer__data">
                        <div class = "footer__data__contacts">
                            <div>
                                <div class = "footer__data__contacts__email-wraper"><p class = "footer__data__contacts__ptext">homeet@style.org</p></div>
                                <div class = "footer__data__contacts__support-wraper"><p class = "footer__data__contacts__ptext">техническая поддержка</p></div>
                            </div>
                            <div class = "footer__data__contacts__additional-data">
                                <div class = "footer__data__contacts__additional-data__links">
                                    <p>О сервисе</p>
                                    <p>Контакты</p>
                                    <p>Политика конфидециальности</p>
                                </div>    
                                <div class = "footer__data__contacts__additional-data___icons">
                                    <img src = "../../static/myApp/icons/tg.svg" alt = "Tg"/>
                                    <img src = "../../static/myApp/icons/vk.svg" alt = "VK"/>
                                </div>
                            </div>
                        </div>
                        <div class = "footer__data__dividing-line"></div>
                        <div class = "footer__data__copyright">
                            <p class = "footer__data__copyright__text">Страница является грустью и печалью студента.<br>
                                Сервис не несет ответственности за название некоторых классов, их цензурность и т.д.</p>
                            <p class = "footer__data__copyright__text">сделано рабским трудом</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src = "../../static/myApp/js/script1.js"></script>   
    </body>
</html>