@font-face {
    font-family: "MuseoSansCyrl500";  
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/MuseoSansCyrl500.otf")
}   

@font-face {
    font-family: "MuseoSansCyrl100";  
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/MuseoSansCyrl100.otf")
}

@font-face {
    font-family: "MuseoSansCyrl300";  
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/MuseoSansCyrl300.otf")
}

@font-face {
    font-family: "MuseoSansCyrl700";  
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/MuseoSansCyrl700.otf")
}

body{
    margin: 0;  
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "MuseoSansCyrl100";
}

.base {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MuseoSansCyrl100";
}

.head {
    display: flex;
    /* width: 1440px; */
    height: 87px;
    font-family: "MuseoSansCyrl100";
    box-shadow: 0 1.1335145235px 4.293615818px 0 rgba(133,94,152,.03),
                0 2.8667433262px 10.8588762283px 0 rgba(133,94,152,.04),
                0 5.847887516px 22.1510887146px 0 rgba(133,94,152,.05),
                0 5.847887516px 22.1510887146px 0 rgba(133,94,152,.05);
    flex-direction: column;
    justify-content: row;
}

.head__logo{
    display: flex;
    font-family: "MuseoSansCyrl100";
    padding: 20px 40px 20px 40px;
    justify-content: space-between;
    align-items: center;
    
}

.head__logo__exit-button{
    width: 173px;
    height: 40px;
    font-family: "MuseoSansCyrl500";
    background: #fff;
    border: 1px solid #7953c3;
    color: #7953c3;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.main-body{
    margin: 0 auto;  
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "MuseoSansCyrl100";
}

.main-body__registration{
    margin-left: 14%;
    margin-right: 14%;
    padding: 60px;
    padding-bottom: 160px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.main-body__registration__profile-create-header{
    margin: 0;
    padding: 0;
    gap: 16px;
    display: grid;
}

.main-body__registration__profile-create-header__button{
    width: 108px;
    height: 36px;
    font-family: "MuseoSansCyrl300";
    background: #fff;
    border: 1px solid #7953c3;
    color: #7953c3;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.main-body__registration__profile-create-header__title{
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.main-body__registration__profile-create-header__header{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "MuseoSansCyrl700";
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #040013;
}

.main-body__registration__profile-create-header__sub-title{
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;
    flex-direction: row;
}

.main-body__registration__profile-create-header__ptext{
    margin-bottom: 5px;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: #ccc;
    font-size: 16px;
    font-family: "MuseoSansCyrl700";
}

.main-body__registration__progress-line{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f6;
    height: 2px;
}

.main-body__registration__progress-sub-line{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 8%;
    background-color: #d9d1e0;
    height: 2px;
}

.main-body__registration__form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 100%;
}

.main-body__registration__form__data-upload{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: "MuseoSansCyrl700";  
    font-size: 14px;
}

.main-body__registration__form__data-upload__upload-photo{
    height: 150px;
    width: 366px;
    padding: 40px 29px;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #cdbddb;
    border: 1px dashed var(--d-9-d-1-e-0-stroke,#cdbddb);
    border-radius: 16px;   
}

.main-body__registration__form__data-upload__uploaded-photo{
    height: 200px;
    width: 200px;
    border-radius: 16px;
    position: relative;
}

.main-body__registration__form__data-upload__uploaded-photo__remove-btn{
    background-color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 100;
}

.main-body__registration__form__data-upload__upload-photo__label{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-body__registration__form__data-upload__upload-photo__ptext{
    font-size: 16px; 
    color: #040013;
}

.main-body__registration__form__data-upload__upload-photo__button{
    background-color: #7953c3;
    border: 0px;
    border-radius:8px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 40px;
    width: 144px;
    cursor: pointer;
}

.main-body__registration__form__data-upload__upload-photo__input{
    display: none;

}

.main-body__registration__form__data-upload__upload-photo__ptext-after-input{
    font-size: 16px; 
    color: #aaa; 
    font-family: "MuseoSansCyrl300";
    font-weight: 300; 
    font-size: 14px; 
}

.main-body__registration__form__text-input{
    margin: 0;
    padding: 0;
    width: 366px;
    box-sizing: border-box;
    font-family: "MuseoSansCyrl300";
    font-size: 14px;
    display: inline-flex;
    flex-direction: column;
}

.main-body__registration__form__text-input__label{
    left: 0px; 
    top: -18px; 
    font-family: "MuseoSansCyrl300";
    font-size: 14px; 
    font-weight: 300; 
    line-height: 20px; 
    color: rgb(93, 91, 102);
}

.main-body__registration__form__text-input__date{
    outline: none;
    background-color: #f4f4f6;
    border-radius: 8px;
    border: #f4f4f6;
    color: #040013;
    font-family: "MuseoSansCyrl500";
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: normal;
    padding: 16px 12px;
    width: 160px;
}

.main-body__registration__form__text-input__input{
    outline: none;
    background-color: #f4f4f6;
    border-radius: 8px;
    border: #f4f4f6;
    color: #040013;
    font-family: "MuseoSansCyrl500";
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: normal;
    padding: 16px 12px;
    width: 366px;   
}

.main-body__registration__form__text-input__textarea{
    height: 120px; 
    resize: none;
    outline: none;
    background-color: #f4f4f6;
    border-radius: 8px;
    border: #f4f4f6;
    color: #040013;
    font-family: "MuseoSansCyrl500";
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: normal;
    padding: 16px 12px;
    width: 366px;
}

.main-body__registration__form__text-input__radio-block__radio-input__label{
    display: flex; 
    align-items: center;
}

.main-body__registration__form__text-input__radio-block{
    display: flex; 
    padding-top: 10px;
    flex-direction: row;
    gap: 16px;
    position: relative;
}

.main-body__registration__form__text-input__radio-block__radio-input{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    display: flex; 
    align-items: center;
}

.main-body__registration__form__text-input__radio-block__radio-input__input {
    display: none;
}
  
.main-body__registration__form__text-input__radio-block__radio-input__input + label::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #7953c3;
    margin-right: 5px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
}
  
.main-body__registration__form__text-input__radio-block__radio-input__input:checked + label::before{
    background-color: #7953c3;
    border-color: #7953c3;
}

.main-body__registration__form__text-input__input[type="date"]::-webkit-inner-spin-button,
.main-body__registration__form__text-input__input[type="date"]::-webkit-calendar-picker-indicator {
  display: none; /* Скрыть логотип календаря и стрелку ввода */
}

.main-body__registration__form__profile-create-card{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MuseoSansCyrl500";
}

.main-body__registration__form__profile-create-card__ptext{
    margin-bottom: 16px; 
    padding-left: 16px; 
    color: #5d5b66; 
    font-size: 14px;
}

.main-body__registration__form__profile-create-card__data{
    margin-bottom: 24px;
    padding: 20px;
    border-radius: 32px;
    gap: 28px;
    box-shadow: 0 5.84789px 22.1511px rgba(133,94,152,.05), 
    0 5.84789px 22.1511px rgba(133,94,152,.05), 
    0 2.86674px 10.8589px rgba(133,94,152,.04), 
    0 1.13351px 4.29362px rgba(133,94,152,.028);
    display: flex;
}

.main-body__registration__form__profile-create-card__data__card-photo-side{
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.main-body__registration__form__profile-create-card__data__card-photo-side__card-photo{
    border: 1px dashed #cdbddb;
    border-radius: 16px;
    height: 140px;
    width: 140px;
}

.main-body__registration__form__profile-create-card__data__card-photo-side__card-photo-button{
    background-color: #e1d7f5;
    border:#e1d7f5;
    border-radius: 4px;
    color: #fff;
    font-size: 8px;
    font-weight: 600;
    height: 22px;
    padding: 6px 12px;
    width: 140px;
}

.main-body__registration__form__profile-create-card__data__card-text-side{
    color: #040013;
}

.main-body__registration__form__profile-create-card__data__card-text-side__div-name{
    background-color: #f4f4f6;
    border-radius: 6px;
    height: 22px; 
    width: 150px;
}

.main-body__registration__form__profile-create-card__data__card-text-side__ptext-name{
    font-size: 16px;
}

.main-body__registration__form__profile-create-card__data__card-text-side__ptext-sex{
    font-size: 9px;
}

.main-body__registration__form__profile-create-card__data__card-text-side__ptext-age{
    font-size: 9px;
}

.main-body__registration__form__profile-create-card__data__card-text-side__div-sex{
    background-color: #f4f4f6;
    border-radius: 6px;
    height: 11px; 
    width: 32px;
}

.main-body__registration__form__profile-create-card__data__card-text-side__div-age{
    background-color: #f4f4f6;
    border-radius: 6px;
    height: 11px; 
    width: 32px;
}

.main-body__registration__form__profile-create-card__data__card-text-side__card-info{
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 4px;
    
}

.main-body__registration__form__profile-create-card__data__card-text-side__circle{
    background: #7953c3;
    border-radius: 100px;
    height: 4px;
    opacity: .3;
    width: 4px;
}

.main-body__registration__form__profile-create-card__data__card-text-side__eclipse{
    background-color: #f4f4f6;
    border-radius: 6px;
    height: 11px; 
    width: 120px;
}

.main-body__registration__form__profile-create-card__data__work{
    height: 17px;
    margin-top: 10px;
    max-width: 400px;
    min-width: 80px;
    padding: 3px 6px;
    background-color: #f4f4f6;
    border-radius: 8px;
    display: inline-block;
    padding: 8px 12px;
}

.main-body__registration__form__profile-create-card__data__about-ur{
    background-color: #f4f4f6;
    border-radius: 6px;
    height: 11px;
    margin-top: 10px;
    width: 332px;
}

.main-body__registration__form__profile-create-card__data__about-ur_wrapper{
    display: flex;
    gap: 10px;
}

.main-body__registration__form__profile-create-card__data__ptext-about-ur{
    color: #5d5b66;
    font-size: 9px;
    font-family: "MuseoSansCyrl500";
}

.main-body__registration__form__data-upload__uploaded-photo__expand-btn{
    margin-block-start: 1em;
    margin-block-end: 1em;
    height: 10px;
    color: #7953c3;
    background-color: #f4f1f5;
    font-family: "MuseoSansCyrl500";
    font-size: 9px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 100;
    display: flex;
    align-items: row;
    justify-content: space-between;
}

.main-body__registration__form__profile-create-card__data__pereferences{
    margin-top: 20px;
    padding: 12px 20px 12px 12px;
    border-radius: 8px;
    box-shadow: -8px 8px 0 #7953c3, 0 6px 20px rgba(133,94,152,.06), 
    0 4px 8px rgba(133,94,152,.08), 0 2px 4px rgba(133,94,152,.08), 
    0 6px 20px rgba(133,94,152,.08), 0 6px 20px rgba(133,94,152,.08), 
    0 4px 12px rgba(133,94,152,.06), 0 2px 4px rgba(133,94,152,.06);
    gap: 8px;
    width: 406px;
}

.main-body__registration__form__profile-create-card__data__pereferences__ptext{
    font-size: 9px;  
    color: #5d5b66;
}

.main-body__registration__form__profile-create-card__data__pereferences__price{
    margin-top: 5px;
    background-color: #eeeef1;
    border-radius: 6px;
    width: 198px;
    height: 20px;
}

.main-body__registration__form__profile-create-card__data__pereferences__wraper-station{
    margin-top: 4px; 
    display: flex; 
    gap: 7px; 
    flex-wrap: wrap;
}

.main-body__registration__form__profile-create-card__data__pereferences__dividing-line{
    margin-bottom: 8px; 
    margin-top: 8px; 
    background-color: #ccc; 
    height: 1px;
}

.main-body__registration__form__profile-create-card__data__pereferences__station{
    margin-top: 2px; 
    background-color: #eeeef1;
    border-radius: 4px; 
    width: 308px; 
    height: 10px;
}

.main-body__registration__form__profile-create-advise{
    margin-bottom: 24px;
    padding: 12px 16px;
    border-radius: 16px;
    box-shadow: 0 1.1335145235px 4.293615818px 0 rgba(133,94,152,.03), 
    0 2.8667433262px 10.8588762283px 0 rgba(133,94,152,.04), 
    0 5.847887516px 22.1510887146px 0 rgba(133,94,152,.05), 
    0 5.847887516px 22.1510887146px 0 rgba(133,94,152,.05);
    font-family: "MuseoSansCyrl500";
}

.main-body__registration__form__profile-create-advise__text{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.main-body__registration__form__profile-create-advise__text__ptext-head{
    font-family: "MuseoSansCyrl700";
    color: #040013;
}

.main-body__registration__form__profile-create-advise__text__ptext-sub{
    color: #5d5b66; 
    font-size: 14px;
}

.main-body__next-button-wraper{
    display: flex;
    justify-content: end;
    /* position: absolute;
    top: 1100px;
    right: 600px; */
}
.main-body__next-button{
    width: 220px;
    height: 50px;
    font-family: "MuseoSansCyrl500";
    background: #7953c3;
    border: 1px solid #7953c3;
    color: white;
    border-radius: 8px;
    font-size: 16px;   
    cursor: pointer;
}

footer{
    padding: 80px 0 0; 
    border-top: 1px solid #ebebeb; 
}

.footer__wraper{
    margin-left: 14%; 
    margin-right: 14%; 
    row-gap: 20px;
}

.footer__data{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.footer__data__contacts{
    display: flex;
    flex-direction: column;
    row-gap: px;
}

.footer__data__contacts__email-wraper{
    color:#7953c3;
    font-family: "MuseoSansCyrl700";
    font-size: 48px
}

.footer__data__contacts__ptext{
    margin: 0;
}

.footer__data__contacts__support-wraper{
    color: #5d5b66;
    font-family: "MuseoSansCyrl500";
    font-size: 16px
}

.footer__data__contacts__additional-data{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer__data__contacts__additional-data__links{
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 32px;
    color: #040013;
    font-family: "MuseoSansCyrl500";
    font-size: 16px;
}

.ooter__data__contacts__additional-data___icons{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.footer__data__dividing-line{
    border: 1px solid #e4ddf3;
    width: 100%;
}

.footer__data__copyright{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.footer__data__copyright__text{
    color: #aaa;
    font-family: "MuseoSansCyrl500";
        font-size: 14px;
}